.respuesta{
    color : white;
    width: 90%;
    margin-left: 30px;
    margin-top: 2px;
    margin-bottom: 1px;
}

.question{
    width:90%;
    margin-left: 10px;
}
input[type=text-area]{
    background-color: #f6f6f6;
    color: black;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
}
hr{
    background-color: white;
    width: 90%;
}
.radio-respuesta-correcta{
    margin-left:30px;
    width: 90%;
}

input[type=radio]{
    margin-left: 5px;
}
.cabecera{
    width:100%;
    display: inline-block;
}
#test-title{
    width: 45%;
}
.testBtns{
    margin-left: 30px;
    background-color: #f6f6f6;
    border: none;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#addQst:hover{
    background-color: grey;
    color:white;
}

