.navbar, .nav-link, .nav-item, .collapse, .navbar-brand, .navbar-toggler-icon, .navbar-toggler{
    color: white !important;
    font-size: 0.8rem;
}

.navbar-toggler {
    opacity: 1;
    border: none;
}

.navbar-brand {
    font-size: 1.25rem;
    padding-left: 3rem;
}

.navbar-collapse {
    padding-right: 3rem;
}

.nav-item{
    letter-spacing: 0.3rem;
}

.nav-item a{
    transition: 0.2s;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6rem;
}

.nav-item a:hover{
    color: rgb(255, 51, 51) !important;
}

.navbar, .nav-link, .nav-item, .collapse, .navbar-brand, .navbar-toggler-icon, .navbar-toggler{
    color: white !important;
    font-size: 0.8rem;
}

.navbar-toggler {
    opacity: 1;
    border: none;
}

.navbar-brand {
    font-size: 1.25rem;
    padding-left: 3rem;
}

.navbar-collapse {
    padding-right: 3rem;
}

.nav-item{
    letter-spacing: 0.3rem;
}

.nav-item a{
    transition: 0.2s;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6rem;
}

.nav-item a:hover{
    color: rgb(255, 51, 51) !important;
}