.nav-logo{
    width:3rem;
    transition: 0.2s;
}

.logo-name{
    font-size: 30px;
    margin-left: 0.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    transition: 0.1s;
}

.logo-name:hover{
    background: linear-gradient(to right, #84fab0 0%, #8fd3f4 75%, #84fab0 100%);
    -webkit-background-clip: text;
    background-clip: none;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 30px white;
    font-weight: 600;
}

.navbar, .nav-link, .nav-item, .collapse, .navbar-brand, .navbar-toggler-icon, .navbar-toggler{
    color: white !important;
    font-size: 0.8rem;
}

.navbar-toggler {
    opacity: 1;
    border: none;
}

.navbar-brand {
    font-size: 1.25rem;
    padding-left: 3rem;
}

.navbar-collapse {
    padding-right: 3rem;
}

.nav-item{
    letter-spacing: 0.3rem;
}

.nav-link{
    transition: 0.1s;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;

}

.nav-link:hover{
    background: linear-gradient(to right, #84fab0 0%, #8fd3f4 50%, #84fab0 100%);
    -webkit-background-clip: text;
    background-clip: none;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 20px white;
    font-weight: 900;
}