* {
    color: white !important;
}

.login-container {
    max-width: 420px;
    margin: 0 auto;
    margin: 0 auto;
    margin-top: 40px;

}

.page-title{
    color: white !important;
}

.login-form {
    color: white !important;
}

.login-form-button {
    width: 100%;
}